#app_main .card{

    .img-container-hover{
        position: relative;
        img{
            display: block;
        }
    }
    .dark{
        
        /* to fix */
        width: 100%;
        
        height: 100%;
        background: #000000a9;
        display: none;
        
        position: absolute;
        top: 0;
        left: 0;
    }
    .play{
        display: none;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
    }
    .img-container-hover:hover {
        .dark{    
            cursor: pointer;
        }
        .dark, .play{
            display: block;
        }
    }
}

button:hover,
.create-pl:hover *,
.download:hover,
.sidebar-nav a:hover,
#bottom i:hover{
    color: var(--txt-color-light);
    cursor: pointer;
}

#upgrade button:hover{
    /* zoom: 1.1; */
    transform: scale(1.04);
    transition-duration: 700ms;
}

#bottom i.play:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
}

.full-bar:hover{
    .fa-circle{
        display: block;
    }
}