#app_main .card{

    .img-container-hover{
        position: relative;
        img{
            display: block;
        }
    }
    .dark{
        
        /* to fix */
        width: 100%;
        
        height: 100%;
        background: #000000a9;
        display: none;
        
        position: absolute;
        top: 0;
        left: 0;
    }
    .play{
        display: none;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
    }
    .img-container-hover:hover {
        .dark{    
            cursor: pointer;
        }
        .dark, .play{
            display: block;
        }
    }
}

