
/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;

    color: var(--txt-color-dark);

    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}
img{
    max-width: 100%;
}
button{
    background: transparent;
    border: 0;
}
:root{
    --app-header-height: 80px;
    --player-height: 80px;
    --sidebar-width: 250px;
    --sidebar-width-sm: 50px;

    --selected-line-color: #adff2f;

    --txt-color-dark: #7c7e83;
    --txt-color-light: #fff;

    --bg-dark: #000;
    --bg-body: #141922;
    --bg-player: #282828;
}
/* #endregion common */


/* #region debug */
.debug *{
    border: 1px dotted black;
}
.debug body{
    background: beige;
}
.debug .app_body{
    background: rgba(209, 136, 0, 0.836);
}
.debug #app_main{
    background: rgb(170, 190, 162);
}
.debug #app_header{
    background: rgba(143, 143, 143, 0.966);
}
.debug #sidebar{
    background: rgba(163, 3, 3, 0.822);
}
.debug #player{
    background: green;
}
.debug nav{
    background-color: aqua;
}
.debug .row{
    background-color: purple;
}
.debug .card{
    background: grey;
}
.debug #upgrade{
    background: #000;
}


.debug #player{
    /* background: white; */
    .right{
        background: rgb(221, 45, 45);
    }
    .left{
        background-color: aqua;
    }
    .center{
        background: beige;
    }
}
/* #endregion debug */


/* utilities */
.container{
    width: 95%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

    margin: 0 -1rem;
    padding: 1rem;    
}
.col-2{
    width: calc((100% / 12) *2);
}
.txt-light{
    color: var(--txt-color-light);
}
.txt-dark{
    color: var(--txt-color-dark);
}
.txt-d-none{
    text-decoration: none;
}
.small-bar{
    position: relative;
}
.fa-circle{
    font-size: small;

    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,-30%);
    display: none;
}
.p-5{
    padding: .5rem;
}
.mt-2{
    margin-top: 2rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.rounded{
    border-radius: 50%;
}
.xxs-on{
    display: none;
}
.uppercase{
    text-transform: uppercase;
}


/* sidebar */
#sidebar{
    width: var(--sidebar-width);
    background-color: var(--bg-dark);
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 600px){
            width: var(--sidebar-width-sm);
    }
    .logo{
        height: var(--app-header-height);
        .xxs-off{
            width: 70%;
            padding-left: 1rem;
            padding-top: .5rem;
        }
    }
    /* navbar */
    .sidebar-nav{
     
        /* to create some margin between list items, keeping the first item in line with the app_header */
        ul li:not(:first-child){
            margin-top: .75rem;
        }
        ul{
            list-style: none;
        }
        .sidebar-nav-item{

            display: flex;
            align-items: center;
            padding-left: 1rem;

            /* added a border to keep all list items centered */
            border-left: 4px solid transparent;    

            img{
                width: 30px;
            }
            span{
                padding-left: .5rem;
            }

            /* the item selected has the border colored in green */
            &.active{
                border-color: var(--selected-line-color);
            }   

            /* when screen is less than 600px, remove the padding and center the elements */
            @media (max-width:600px) {
                padding: 0;
                justify-content: center;
            }

            /* animation */
            transition: 800ms; 
        }
        
    }

    /* playlist */
    .playlist{
        flex-grow: 1;

        padding-left: 1rem;
        margin-top: 2rem;

        @media (max-width: 600px){
            display: none;
        }

        ul{
            list-style: none;
        }

        .title{
            color: var(--txt-color-light);
            font-weight: 900;
        }

        .create-pl{
            margin: 1rem 0;
            > i{
                font-size: 2rem;
                vertical-align: middle;
            }
            > span{
                padding-left: .5rem;
            }
        }
        
        overflow-y: auto;
        .pl-name{
            line-height: 2.5rem;
            /* overflow-y: scroll; */
        }

    }

    /* sidebar bottom(account+install)*/
    .side-bottom{
        width: 100%;
        padding: 0 1.25rem .5rem;

        /* to keep distance between download and playlists  */
        margin-top: .5rem;

        .download, .account{
            display: flex;
            justify-content: left;
            align-items: center;
        }
        .download{
            
            font-weight: 500;
            margin-left: .5rem;
            margin-bottom: .5rem;
            div{
                margin-left: .5rem;
            }
        }
        .account{
            margin-top: .5rem;
            margin-bottom: .5rem;
            img{
                padding: .3rem;
                width: 40px;
                aspect-ratio: 1;
                background: var(--bg-player);
            }
            .account-name{
                margin-left: .5rem;
                color: white;
                font-weight: 900
            }
        }
        hr{
            width: 100%;
            margin: auto;
            border: 1px solid var(--txt-color-dark);
        }

        @media (max-width:600px) {
            display: flex;
            flex-direction: column;
            padding: 0;
            align-items: center;
            .download{
                margin-left: 0;
            }
        }

        @media (max-width:600px) and (max-height:350px) {
            display: none;
        }
    }

    
   

    /* animation */
    transition: 400ms;
    transition-delay: 0ms;
}

/* main */
#top{
    height: calc(100% - var(--player-height));
    display: flex;


    .app_body{
        width: calc(100% - var(--sidebar-width));
        overflow-y: auto;
        background-color: var(--bg-body);

        /* to fix -- app-main shows an horizontal scrollbar  */
        overflow-x: hidden;


        #app_header{
            height: var(--app-header-height);

            position: sticky;
            top: 0;
            right: 0;
            z-index: 1000;

            background-color: var(--bg-dark);
            opacity: 0.9;

            padding: 0 .5rem;

            line-height: var(--app-header-height);
            text-align: end;

            #upgrade{
                button{
                    border: 2px solid var(--txt-color-light);
                    padding: .8rem 1rem ;
                    border-radius: 9999px;
                }
            }
        }
        
        #app_main{
            z-index: 0;
            height: calc(100% - var(--app-header-height));
            /* height: calc(100%); */
            
            /* start navabar */
            nav 
            {
                padding: 1rem 2rem;
                ul{
                    /* width: 90%; */
                    /* max-width: 1100px; */
                    margin: auto;

                    list-style: none;
                    
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    li{
                        padding: .2rem .5rem;
                        margin: 0 .5rem;

                        button{
                            .active{
                                /* to fix */
                                width: 40px;
                                margin: .2rem auto 0;
                                border-bottom: 2px solid var(--selected-line-color);
                                border-radius: 9999px;


                                box-shadow: 0 0 3px var(--selected-line-color);
                            }
                        }
                    }
            }
            
            @media(max-width: 600px){
                    padding: .5rem;
                }
            }
            /* end navbar */
            .card{
                text-align: center;
                .played-title{
                    margin: .8rem 0 .4rem;
                }
                .played-subtitle{
                    /* font-weight: 500; */
                    font-size: small;
                }
            }


        }
    }
}

/* bottom */
#bottom{
    .full-bar, .small-bar{
        border-radius: 2rem;
    }
    #player{
        background-color: var(--bg-player);
        height: var(--player-height);
        width: 100%;

        position: sticky;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: space-between;


        .left{
            padding: 1rem .5rem;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .img-container{
                width: 50px;

            }
            .song-name{
                font-weight: 700;
                font-size: 1rem;

                padding-right: 3rem;
                @media (max-width:900px) {
                    padding: 0;
                }
            }
            .author{
                font-size: .8rem;
                font-weight: 400;
                &:hover{
                    color: var(--txt-color-light);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .icons-container{
                display: flex;
                /* flex-wrap: wrap; */

                font-size: 1.2rem;
                margin-left: 1rem;
                i{
                    padding: 0 .5rem;
                }

                /* to fix */
                @media (max-width:900px) {
                    flex-direction: column;
                    margin-left: .5rem;
                    i{
                        margin: .3rem 0 ;
                        /* padding: 0; */
                    }
                    
                }
            }
        }

        .center{
            padding: 1rem 0;
            text-align: center;
            width: 33%;

            .center-top{
                i{
                    padding: 0 1rem;
                    /* font-size: larger; */
                    @media (max-width:900px) {
                        padding: 0 .3rem;
                    }
                }
                .play{
                    vertical-align: middle;
                    font-size: 2rem;
                }
            }

            .center-bottom{
                margin-top: .5rem;
                display: flex;
                align-items: center;
                /* gap: 1rem; */
                justify-content: center;

                .small-bar{
                    background: var(--txt-color-light);
                    width: 30%;
                    height: 100%;
                    
                }

                .full-bar{
                    background: var(--txt-color-dark);
                    height: 4px;
                    width: 70%;
                    margin: 0 1rem;
                }

                span{
                    font-size: .7rem;
                }
            }
        }

        .right{
            padding: 1rem .5rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--txt-color-light);

            i{
                padding: 0 .5rem;
            }
            .small-bar{
                background: var(--txt-color-light);
                width: 20%;
                height: 100%;
            }

            .full-bar{
                background: var(--txt-color-dark);
                height: 4px;
                width: 90px;
                margin-right: 1rem;
                
            }
        }
        @media (max-width:450px) {
            .left{
                .song-name, .author{
                    display: none;
                }
                .icons-container{
                    /* display: none; */
                }
            }

            .center{
                .fa-shuffle,.fa-repeat{
                    display: none;
                }
                .center-bottom span{
                    display: none;
                }
                .center-botto .full-bar{
                    width: 100%;
                }
            }
            
        }
    }

}



/* ANIMATIONS */
#app_main .card{

    /* blocks when hover an album/song in main */
    .img-container-hover{
        position: relative;
        img{
            display: block;
        }
    }
    .dark{
                width: 100%;
        
        height: 100%;
        background: #000000a9;
        display: none;
        
        position: absolute;
        top: 0;
        left: 0;
    }
    .play{
        display: none;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
    }

    .img-container-hover:hover {
        .dark{    
            cursor: pointer;
        }
        .dark, .play{
            display: block;
        }
    }
}

button:hover,
.create-pl:hover *,
.download:hover,
.sidebar-nav a:hover,
#bottom i:hover{
    color: var(--txt-color-light);
    cursor: pointer;
}

#upgrade button:hover{
    transform: scale(1.04);
    transition-duration: 700ms;
}

#bottom i.play:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
}

#bottom
{
    .full-bar:hover{

        cursor: pointer;
        .fa-circle{
            display: block;
        }
        .small-bar:hover{
            background: var(--selected-line-color)!important;
            > *{
                color: var(--txt-color-light)!important;
            }
        }
    }
}






/* MEDIA QUERY - utilities */

/* sm */
@media screen and (max-width: 1100px) {
    .col-3-sm{
        width: calc((100% / 12) * 3);
    }
}

/* xs */
@media screen and (max-width: 700px) {
    .col-6-xs{
        width: 50%;
    }

    #bottom #player .right .xs-off{
        display: none;
    }
}

/* xxs */
@media screen and (max-width: 600px) {
    #top .app_body{
        width: calc(100% - var(--sidebar-width-sm));
    }

    .logo img.xxs-on{
        width: 30px;
        margin: .5rem auto;
    }

    .xxs-on{
        display: block;
    }
    .xxs-off{
        display: none;
    }
}